<!DOCTYPE html>
<html>
    <head>
        <title>Physics Noble Laureates Data</title>
        
    </head>
    <body>
        <h1>Noble Prize</h1>
        <p>Noble Prize is one of the most prestigious award. The Nobel Prizes were established by the will of Alfred Nobel, a Swedish inventor, engineer, and industrialist, in 1895. Nobel Prizes are awarded annually in several categories, including Physics, Chemistry, Medicine, Literature, Peace, and Economic Sciences.

            The Nobel Prizes recognize individuals or organizations that have made significant contributions to humanity in these fields. The Nobel Prize in Physics is awarded annually by the Royal Swedish Academy of Sciences to individuals or groups who have made outstanding contributions to the field of physics.The Nobel Prize in Physics has recognized achievements across a wide range of subfields, including particle physics, condensed matter physics, astrophysics, and cosmology. </p>
    </body>
    <body>
        <h1>Data Source</h1>
        <p>The dataset is refrenced from the website opendatasoft.com</p>
    </body>
</html>